body {
	
	background-image: url(../img/pattern.jpg);
	background-color: lightgrey;
}

header .container {
	background-color: white;	
	height: 50px;
  	width: 100%;
  	position: fixed;
  	top: 0;
  	z-index: 100;
}

#logo {
	float: left;
}

.header-menu {
	float: right;
	padding-right: 20px;
}

.header-menu li {
	display: inline;
	padding: 0 15px;
	color: #0E6CC0;
	font-weight: bold;
}

section {
	width: 900px;
	padding: 15px 15px;
	margin: 60px auto 80px auto;
	background-color: white;
}

section h1 {
	text-align: center;
	font-weight: bold;
}

.article {
	border-bottom: 2px solid lightgrey;	
}

section .container {
	border: 1px solid lightgrey;
	padding: 10px 10px 20px 10px;
	
}

.message table {
	border: none;
	margin-top: -30px;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	height: 60px;
	width: 100%;
	position: fixed;
  	bottom: 0;
}